{% extends 'core/base.html' %}

{% set active_page = "changelog" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/' + active_page + '.css') + '?v=' + version }}">
{% endblock %}

{% block content %}
	<div class="changelog">
		<div class="container">
			<div class="changelog__inner">
		        {% if (latest is defined) and latest %}
			        <div class="changelog__post">
				        <div class="changelog__top">
				        	<a href="/changelog/{{latest.slug}}" class="changelog__link"><h1>{{latest.title|safe}}</h1></a>
					        <span class="changelog__date">{{latest.date|safe}}</span>
					    </div>

				        {{latest.content|safe}}
				    </div>
		        {% else %}
		            No posts found.
		        {% endif %}

		        {% if (posts is defined) and posts %}
		        	<div class="changelog__earlier">
		        		<h2>Earlier logs:</h2>
		        	</div>
		            {% for post in posts %}
		                <div class="changelog__entry">
	                        <span class="changelog__date">{{post.date|safe}}</span>
		                    <a href="/changelog/{{post.slug}}">{{post.title|safe}}</a>
		                </div>
		            {% endfor %}
		        {% endif %}
		    </div>
		</div>
	</div>
{% endblock %}