{% extends 'core/base.html' %}

{% set active_page = "dash" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/' + active_page + '.css') + '?v=' + version }}">
{% endblock %}

{% block content %}
	<p>
		Welcome, {{username}}
		<br>
		Your created links:<br>

        {% for link in links %}
            <a href="ze.wtf/{{ link.ref }}">ze.wtf/{{ link.ref }}</a> | <a href="{{ link.url }}">{{ link.url }}</a><br>
        {% else %}
            <span>No items found.</span>
        {% endfor %}
	</p>
{% endblock %}
