{% extends 'core/base.html' %}

{% set active_page = "dash" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/' + active_page + '.css') + '?v=' + version }}">
{% endblock %}

{% block content %}
	<div class="container">
		<p>
			Welcome, {{username}}.
		</p>
		<p>
			Your created links:
		</p>
		<div class="links">
			<table class="links__table">
				<tr>
					<th>Short</th>
					<th>URL</th>
					<th>Visits</th>
				</tr>
		        {% for link in links %}
					<tr>
						<td><a href="/{{ link.ref }}">{{ domain }}/{{ link.ref }}</a></td>
						<td><a href="{{ link.url }}">{{ link.url }}</a></td>
						<td>{{link.visits}}</td>
					</tr>
		        {% else %}
					<tr>
						<td colspan="3" class="links__not-found">No items found.</td>
					</tr>
		        {% endfor %}
			</table>
	    </div>
		<p>
			Your created invites: <a href="{{ url_for('dash.handle_invite') }}" class="create-link">[Create]</a>
		</p>
		<div class="links">
			<table class="links__table">
				<tr>
					<th>Expires</th>
					<th>Code</th>
					<th>Used by</th>
				</tr>
		        {% for invite in invites %}
					<tr>
						<td>{{invite.expires}}</td>
						<td>{{invite.code}}</td>
						<td>{{invite.used_by.username}}</td>
					</tr>
		        {% else %}
					<tr>
						<td colspan="3" class="links__not-found">No items found.</td>
					</tr>
		        {% endfor %}
			</table>
	    </div>
		<p>
			Your created Files:
		</p>
		<div class="links">
			<table class="links__table">
				<tr>
					<th>URL</th>
					<th>Filename</th>
				</tr>
		        {% for image in images %}
					<tr>
						<td><a href="/{{ image.filename }}">{{ domain }}/{{ image.filename }}</a></td>
						<td>{{image.original}}</td>
					</tr>
		        {% else %}
					<tr>
						<td colspan="3" class="links__not-found">No items found.</td>
					</tr>
		        {% endfor %}
			</table>
	    </div>
	</div>
{% endblock %}
