{% extends 'core/base.html' %}

{% set active_page = "home" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/' + active_page + '.css') + '?v=' + version }}">
{% endblock %}

{% block content %}
	<div class="home">
		<form class="form" method="POST" action="/" autocomplete="off">
			{% if error != None %}
				<div class="form__message">{{error}}</div>
			{% endif %}
			<input name="url" type="text" placeholder="URL" required />
			<input type="submit" value="Submit">
		</form>
	</div>
{% endblock %}