{% extends 'core/base.html' %}

{% set active_page = "register" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/' + active_page + '.css') + '?v=' + version }}">
{% endblock %}

{% block content %}
	<div class="register">
		<p>
			{{msg}}
		</p>
		<form class="form" action="{{ url_for('auth.handle_register') }}" method="post" autocomplete="off">
			{% if error != None %}
				{{error}}
			{% endif %}
			<input name="username" type="text" placeholder="Username" />
			<input name="password" type="password" placeholder="Password" />
			<input name="password-confirm" type="password" placeholder="Password confirm" />

	        <img src="{{ url_for('auth.dash_captcha') }}" id="captcha_image" />
	        <a href="#" onclick="document.getElementById('captcha_image').src = '/captcha?' + Math.random(); return false">
	            Refresh
	        </a>
	        <input type="text"name="captcha" placeholder="Captcha" id="captcha" required>

			<input type="submit" value="Submit">
		</form>

		<a href="{{ url_for('auth.handle_login') }}">Login</a>
	</div>
{% endblock %}