<!DOCTYPE html>
<html lang="en-GB">

<head>
    <%- include('../elements/imports', { title: null, theme, user }); %>
    <title>ZE.WTF - Docs - Intro</title>
</head>

<body class="bg-medium">
    <%- include('../elements/nav', { path: 'docs' }) %>

    <div class="container flex-grow">
        <div class="h-100 pt-3 pb-3">
            <div class="row">
                <%- include('../elements/sidebar_docs', { path: 'intro' }) %>

                <div class="col-lg-9">
                    <div class="card align-self-center bg-light">
                        <div class="card-body">
                          <h5 class="card-title text-dark">Introduction</h5>
                          <p class="text-dark">Welcome to the documentation.</p>
                          <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id odio metus. Phasellus bibendum porttitor aliquet. Suspendisse sodales, diam id bibendum pharetra, ligula mi aliquam turpis, et sollicitudin ligula sem sed est. Etiam sed diam tristique, luctus nisi vitae, elementum lacus. Mauris porttitor risus malesuada, laoreet sem eget, lobortis nunc. Donec eu pharetra sapien. Etiam id eros metus. Aenean dapibus nisi sed nunc porttitor feugiat.</p>
                          <pre class="text-dark"><code>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id odio metus. Phasellus bibendum porttitor aliquet. Suspendisse sodales, diam id bibendum pharetra, ligula mi aliquam turpis, et sollicitudin ligula sem sed est. Etiam sed diam tristique, luctus nisi vitae, elementum lacus. Mauris porttitor risus malesuada, laoreet sem eget, lobortis nunc. Donec eu pharetra sapien. Etiam id eros metus. Aenean dapibus nisi sed nunc porttitor feugiat.</code></pre>
                          <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id odio metus. Phasellus bibendum porttitor aliquet. Suspendisse sodales, diam id bibendum pharetra, ligula mi aliquam turpis, et sollicitudin ligula sem sed est. Etiam sed diam tristique, luctus nisi vitae, elementum lacus. Mauris porttitor risus malesuada, laoreet sem eget, lobortis nunc. Donec eu pharetra sapien. Etiam id eros metus. Aenean dapibus nisi sed nunc porttitor feugiat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../elements/footer', { theme }) %>

      <!-- add link copying by click later -->
</body>

</html>
