{% extends 'core/base.html' %}

{% set active_page = "dash" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/' + active_page + '.css') + '?v=' + version }}">
{% endblock %}

{% block content %}
	<div class="container">
		<p>
			Welcome, {{username}}.
		</p>
		{% if spaces %}
			<p>
				Your created spaces:
			</p>
			<div class="links">
				<table class="links__table">
					<tr>
						<th>Name</th>
						<th>Created</th>
						{% if can_delete == True %}
							<th></th>
						{% endif %}
					</tr>
			        {% for space in spaces %}
						<tr>
							<td>{{ space.name }}.{{ domain }}</td>
							<td>{{ space.date_created }}</td>
							{% if can_delete == True %}
								<td width="38px">
									<button class="delete-item" data-urlname="{{ space.name }}">
										<svg viewBox="0 0 24 24">
											<g id="icons">
												<path d="M14.8,12l3.6-3.6c0.8-0.8,0.8-2,0-2.8c-0.8-0.8-2-0.8-2.8,0L12,9.2L8.4,5.6c-0.8-0.8-2-0.8-2.8,0   c-0.8,0.8-0.8,2,0,2.8L9.2,12l-3.6,3.6c-0.8,0.8-0.8,2,0,2.8C6,18.8,6.5,19,7,19s1-0.2,1.4-0.6l3.6-3.6l3.6,3.6   C16,18.8,16.5,19,17,19s1-0.2,1.4-0.6c0.8-0.8,0.8-2,0-2.8L14.8,12z" fill="currentColor" id="exit"/>
											</g>
										</svg>
									</button>
								</td>
							{% endif %}
						</tr>
			        {% else %}
						<tr>
							<td colspan="3" class="links__not-found">No items found.</td>
						</tr>
			        {% endfor %}
				</table>
		    </div>
			<p>
				Your space files:
			</p>
        {% else %}
			<p>
				You have no spaces created. Create one below.
			</p>
			<form class="form" method="POST" action="{{ url_for('dash.spaces.index') }}" autocomplete="off">
				<input name="name" type="text" placeholder="Name">
				<input type="submit" value="Create">
			</form>
			<div class="notifications" id="notifications"></div>
		{% endif %}
	</div>
{% endblock %}
