{% extends 'core/base.html' %}

{% set active_page = "dash" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/' + active_page + '.css') + '?v=' + version }}">
{% endblock %}

{% block content %}
	<div class="container">
		{% include 'partials/blotter.html' %}
		<p>
			Welcome, {{username}}.
		</p>
		<p>
			Your created spaces:
		</p>
		<script src="{{ url_for('static', filename='scripts/notifications.js') + '?v=' + version }}"></script>
		<div class="table-wrapper">
			<table class="table table-standard">
				<tr>
					<th width="200px">Name</th>
					<th>URL</th>
					<th width="160px">Created</th>
					<th class="table__button-cell">
						<div class="table__buttons">
							<button class="action-button" id="create-space-toggle">
								<svg viewBox="0 0 24 24">
									<path d="M18,10h-4V6c0-1.104-0.896-2-2-2s-2,0.896-2,2l0.071,4H6c-1.104,0-2,0.896-2,2s0.896,2,2,2l4.071-0.071L10,18  c0,1.104,0.896,2,2,2s2-0.896,2-2v-4.071L18,14c1.104,0,2-0.896,2-2S19.104,10,18,10z" fill="currentColor"/>
								</svg>
							</button>
						</div>
					</th>
				</tr>
			</table>
			<table class="table table-borderless table-reverse" id="create-space-table" style="display: none;">
				<tr>
					<td>
						<input id="create-space-name" placeholder="name" type="text" name="space-name"  class="file-browser__create-directory" />
					</td>
					<td class="table__button-cell">
						<div class="table__buttons">
							<button class="action-button" id="create-space-confirm">
								<svg viewBox="0 0 24 24" >
									<g id="icons">
										<path d="M10,18c-0.5,0-1-0.2-1.4-0.6l-4-4c-0.8-0.8-0.8-2,0-2.8c0.8-0.8,2.1-0.8,2.8,0l2.6,2.6l6.6-6.6   c0.8-0.8,2-0.8,2.8,0c0.8,0.8,0.8,2,0,2.8l-8,8C11,17.8,10.5,18,10,18z" fill="currentColor"/>
									</g>
								</svg>
							</button>
							<button class="action-button" id="create-space-cancel">
								<svg viewBox="0 0 24 24">
									<g id="icons">
										<path d="M14.8,12l3.6-3.6c0.8-0.8,0.8-2,0-2.8c-0.8-0.8-2-0.8-2.8,0L12,9.2L8.4,5.6c-0.8-0.8-2-0.8-2.8,0   c-0.8,0.8-0.8,2,0,2.8L9.2,12l-3.6,3.6c-0.8,0.8-0.8,2,0,2.8C6,18.8,6.5,19,7,19s1-0.2,1.4-0.6l3.6-3.6l3.6,3.6   C16,18.8,16.5,19,17,19s1-0.2,1.4-0.6c0.8-0.8,0.8-2,0-2.8L14.8,12z" fill="currentColor"/>
									</g>
								</svg>
							</button>
						</div>
					</td>
				</tr>
			</table>
			<table class="table table-standard">
		        {% for space in spaces %}
					<tr>
						<td width="200px">{{ space.name }}</td>
						<td id="space-domain">
							<a href="https://{{ space.name }}.{{ domain }}" target="_blank" class="open-space">
								{{ space.name }}.{{ domain }}
							</a>
						</td>
						<td width="160px">{{ space.date_created.strftime('%Y-%m-%d %H:%M') }}</td>
						<td class="table__button-cell">
							<div class="table__buttons">
								<button class="action-button copy-item" data-target="space"  data-spacelink="{{ space.name }}.{{ domain }}">
									<svg viewBox="0 0 384 512" class="smaller">
										<path d="M336 64h-80c0-35.3-28.7-64-64-64s-64 28.7-64 64H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM96 424c-13.3 0-24-10.7-24-24s10.7-24 24-24 24 10.7 24 24-10.7 24-24 24zm0-96c-13.3 0-24-10.7-24-24s10.7-24 24-24 24 10.7 24 24-10.7 24-24 24zm0-96c-13.3 0-24-10.7-24-24s10.7-24 24-24 24 10.7 24 24-10.7 24-24 24zm96-192c13.3 0 24 10.7 24 24s-10.7 24-24 24-24-10.7-24-24 10.7-24 24-24zm128 368c0 4.4-3.6 8-8 8H168c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-96c0 4.4-3.6 8-8 8H168c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-96c0 4.4-3.6 8-8 8H168c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16z" fill="currentColor"/>
									</svg>
								</button>
								{% if can_delete == True %}
									<button class="action-button delete-item" data-target="space" data-spacename="{{ space.name }}">
										<svg viewBox="0 0 24 24">
											<g id="icons">
												<path d="M14.8,12l3.6-3.6c0.8-0.8,0.8-2,0-2.8c-0.8-0.8-2-0.8-2.8,0L12,9.2L8.4,5.6c-0.8-0.8-2-0.8-2.8,0   c-0.8,0.8-0.8,2,0,2.8L9.2,12l-3.6,3.6c-0.8,0.8-0.8,2,0,2.8C6,18.8,6.5,19,7,19s1-0.2,1.4-0.6l3.6-3.6l3.6,3.6   C16,18.8,16.5,19,17,19s1-0.2,1.4-0.6c0.8-0.8,0.8-2,0-2.8L14.8,12z" fill="currentColor" id="exit"/>
											</g>
										</svg>
									</button>
								{% endif %}
							</div>
						</td>
					</tr>
		        {% else %}
					<tr>
						<td colspan="3" class="links__not-found">No items found.</td>
					</tr>
		        {% endfor %}
			</table>
	    </div>

		{% if spaces %}
			<p>
				Your space files:
			</p>

			<div id="file-listing"></div>

			<div class="file-browser">
				<div class="file-browser__controls">
					<div class="file-browser__controls__address" id="path-address"></div>
					<button id="download-space-button">
						<svg viewBox="0 0 24 24">
							<g>
								<path d="M 21.706,5.292 18.707,2.293 C 18.519758,2.1050766 18.265283,1.9996152 18,2 H 6 C 5.7347175,1.9996152 5.4802425,2.1050766 5.293,2.293 L 2.294,5.292 C 2.1052746,5.4791952 1.9993901,5.7341825 2,6 v 13 c 0,1.103 0.897,2 2,2 h 16 c 1.103,0 2,-0.897 2,-2 V 6 C 22.00061,5.7341825 21.894725,5.4791952 21.706,5.292 Z M 6.414,4 h 11.172 l 1,1 H 5.414 Z m 7.072495,4.4628715 c 0.47437,0.00186 0.508537,0.2417718 0.508802,0.6074194 l 0.0029,3.9999991 1.2,-8.71e-4 c 0.9,-6.53e-4 1.300798,1.099057 0.701233,1.699492 l -3.197678,3.202321 c -0.399709,0.40029 -0.9997,0.400716 -1.399999,0.001 L 8.0994365,14.77457 C 7.4989998,14.175007 7.8982033,13.074715 8.798203,13.074062 l 1.1999997,-8.7e-4 -0.0029,-3.9999992 C 9.995039,8.7094747 10.039888,8.4875457 10.463326,8.4801685" fill="currentColor"/>
							</g>
						</svg>
					</button>
					<button id="upload-directory-button">
						<svg viewBox="0 0 24 24">
							<g>
								<path d="M20,6h-6.8c-0.8,0-1.4-0.4-1.8-1.1l-0.9-1.8C10.2,2.4,9.5,2,8.8,2H4C1.8,2,0,3.8,0,6v12c0,2.2,1.8,4,4,4h5   c0.6,0,1-0.4,1-1v-4H8.8c-0.9,0-1.3-1.1-0.7-1.7l3.2-3.2c0.4-0.4,1-0.4,1.4,0l3.2,3.2c0.6,0.6,0.2,1.7-0.7,1.7H14v4   c0,0.6,0.4,1,1,1h5c2.2,0,4-1.8,4-4v-8C24,7.8,22.2,6,20,6z" fill="currentColor"/>
							</g>
						</svg>
					</button>
					<button  id="upload-file-button">
						<svg viewBox="0 0 24 24">
							<g>
								<path d="M 17.5,8 C 16.1,8 15,6.9 15,5.5 V 2 C 15,1.4 14.6,1 14,1 H 6 C 3.8,1 2,2.8 2,5 v 14 c 0,2.2 1.8,4 4,4 h 12 c 2.2,0 4,-1.8 4,-4 V 9 C 22,8.4 21.6,8 21,8 Z M 9.0719224,23 c 0.6,0 0.9999996,-0.4 0.9999996,-1 V 18 H 8.8719224 c -0.9,0 -1.3,-1.1 -0.7,-1.7 l 3.1999996,-3.2 c 0.4,-0.4 1,-0.4 1.4,0 l 3.2,3.2 c 0.6,0.6 0.2,1.7 -0.7,1.7 h -1.2 v 4 c 0,0.6 0.4,1 1,1" fill="currentColor"/>
						 	</g>
						</svg>
					</button>
					<button id="create-directory-button">
						<svg viewBox="0 0 24 24">
							<g>
								<path d="M 20,6 H 13.2 C 12.4,6 11.8,5.6 11.4,4.9 L 10.5,3.1 C 10.2,2.4 9.5,2 8.8,2 H 4 C 1.8,2 0,3.8 0,6 v 12 c 0,2.2 1.8,4 4,4 h 16 c 2.2,0 4,-1.8 4,-4 V 10 C 24,7.8 22.2,6 20,6 Z m -3.932389,9.969756 h -2.422319 v 2.422319 c 0,0.888184 -0.726696,1.614879 -1.61488,1.614879 -0.888184,0 -1.614879,-0.726695 -1.614879,-1.614879 V 15.969756 H 7.9932143 c -0.8881837,0 -1.6148793,-0.726695 -1.6148793,-1.61488 0,-0.888183 0.7266956,-1.614878 1.6148793,-1.614878 h 2.4223187 v -2.42232 c 0,-0.8881832 0.726695,-1.6148792 1.614879,-1.6148792 0.888184,0 1.61488,0.726696 1.61488,1.6148792 v 2.42232 h 2.422319 c 0.888183,0 1.614879,0.726695 1.614879,1.614878 0,0.888185 -0.726696,1.61488 -1.614879,1.61488 z" fill="currentColor"/>
							</g>
						</svg>
					</button>
					<button id="create-new-file-button">
						<svg viewBox="0 0 24 24">
							<g>
								<path d="M 17.5,8 C 16.1,8 15,6.9 15,5.5 V 2 C 15,1.4 14.6,1 14,1 H 6 C 3.8,1 2,2.8 2,5 v 14 c 0,2.2 1.8,4 4,4 h 12 c 2.2,0 4,-1.8 4,-4 V 9 C 22,8.4 21.6,8 21,8 Z m -1.401714,8.736627 h -2.422319 v 2.422319 c 0,0.888184 -0.726696,1.614879 -1.61488,1.614879 -0.888184,0 -1.614879,-0.726695 -1.614879,-1.614879 V 16.736627 H 8.0238891 c -0.8881837,0 -1.6148793,-0.726695 -1.6148793,-1.61488 0,-0.888183 0.7266956,-1.614878 1.6148793,-1.614878 h 2.4223189 v -2.42232 c 0,-0.888183 0.726695,-1.6148793 1.614879,-1.6148793 0.888184,0 1.61488,0.7266963 1.61488,1.6148793 v 2.42232 h 2.422319 c 0.888183,0 1.614879,0.726695 1.614879,1.614878 0,0.888185 -0.726696,1.61488 -1.614879,1.61488 z" fill="currentColor"/>
							</g>
						</svg>
					</button>
				</div>
				<div class="progress" id="progress" style="display: none;">
					<div class="progress__inner" id="progress-inner"></div>
				</div>
				<div class="file-browser__files">
					<table class="table__reverse" id="upload-directory" style="display: none;">
						<tr>
							<td>
								<label for="upload-new-directory" id="upload-new-directory-label" class="file-browser__upload-file__label">Click to select directory</label>
								<input type="file" name="file" id="upload-new-directory" class="file-browser__upload-file" webkitdirectory directory multiple />
							</td>
							<td width="60px"></td>
							<td width="160px"></td>
							<td width="68px">
								<div class="table__buttons">
									<button class="action-button" id="confirm-upload-directory">
										<svg viewBox="0 0 24 24" >
											<g id="icons">
												<path d="M10,18c-0.5,0-1-0.2-1.4-0.6l-4-4c-0.8-0.8-0.8-2,0-2.8c0.8-0.8,2.1-0.8,2.8,0l2.6,2.6l6.6-6.6   c0.8-0.8,2-0.8,2.8,0c0.8,0.8,0.8,2,0,2.8l-8,8C11,17.8,10.5,18,10,18z" fill="currentColor"/>
											</g>
										</svg>
									</button>
									<button class="action-button" id="cancel-upload-directory">
										<svg viewBox="0 0 24 24">
											<g id="icons">
												<path d="M14.8,12l3.6-3.6c0.8-0.8,0.8-2,0-2.8c-0.8-0.8-2-0.8-2.8,0L12,9.2L8.4,5.6c-0.8-0.8-2-0.8-2.8,0   c-0.8,0.8-0.8,2,0,2.8L9.2,12l-3.6,3.6c-0.8,0.8-0.8,2,0,2.8C6,18.8,6.5,19,7,19s1-0.2,1.4-0.6l3.6-3.6l3.6,3.6   C16,18.8,16.5,19,17,19s1-0.2,1.4-0.6c0.8-0.8,0.8-2,0-2.8L14.8,12z" fill="currentColor"/>
											</g>
										</svg>
									</button>
								</div>
							</td>
						</tr>
					</table>
					<table class="table__reverse" id="upload-file" style="display: none;">
						<tr>
							<td>
								<label for="new-file-name" id="new-file-label" class="file-browser__upload-file__label">Click to select file</label>
								<input type="file" name="file" id="new-file-name" class="file-browser__upload-file" multiple />
							</td>
							<td width="60px"></td>
							<td width="160px"></td>
							<td width="68px">
								<div class="table__buttons">
									<button class="action-button" id="save-file">
										<svg viewBox="0 0 24 24" >
											<g id="icons">
												<path d="M10,18c-0.5,0-1-0.2-1.4-0.6l-4-4c-0.8-0.8-0.8-2,0-2.8c0.8-0.8,2.1-0.8,2.8,0l2.6,2.6l6.6-6.6   c0.8-0.8,2-0.8,2.8,0c0.8,0.8,0.8,2,0,2.8l-8,8C11,17.8,10.5,18,10,18z" fill="currentColor"/>
											</g>
										</svg>
									</button>
									<button class="action-button" id="cancel-file">
										<svg viewBox="0 0 24 24">
											<g id="icons">
												<path d="M14.8,12l3.6-3.6c0.8-0.8,0.8-2,0-2.8c-0.8-0.8-2-0.8-2.8,0L12,9.2L8.4,5.6c-0.8-0.8-2-0.8-2.8,0   c-0.8,0.8-0.8,2,0,2.8L9.2,12l-3.6,3.6c-0.8,0.8-0.8,2,0,2.8C6,18.8,6.5,19,7,19s1-0.2,1.4-0.6l3.6-3.6l3.6,3.6   C16,18.8,16.5,19,17,19s1-0.2,1.4-0.6c0.8-0.8,0.8-2,0-2.8L14.8,12z" fill="currentColor"/>
											</g>
										</svg>
									</button>
								</div>
							</td>
						</tr>
					</table>
					<table class="table__reverse" id="create-file" style="display: none;">
						<tr>
							<td>
								<input id="new-created-file-name" placeholder="file_name.html" type="text" name="directory"  class="file-browser__create-directory" />
							</td>
							<td width="60px"></td>
							<td width="160px"></td>
							<td width="68px">
								<div class="table__buttons">
									<button class="action-button" id="create-new-file">
										<svg viewBox="0 0 24 24" >
											<g id="icons">
												<path d="M10,18c-0.5,0-1-0.2-1.4-0.6l-4-4c-0.8-0.8-0.8-2,0-2.8c0.8-0.8,2.1-0.8,2.8,0l2.6,2.6l6.6-6.6   c0.8-0.8,2-0.8,2.8,0c0.8,0.8,0.8,2,0,2.8l-8,8C11,17.8,10.5,18,10,18z" fill="currentColor"/>
											</g>
										</svg>
									</button>
									<button class="action-button" id="cancel-new-file">
										<svg viewBox="0 0 24 24">
											<g id="icons">
												<path d="M14.8,12l3.6-3.6c0.8-0.8,0.8-2,0-2.8c-0.8-0.8-2-0.8-2.8,0L12,9.2L8.4,5.6c-0.8-0.8-2-0.8-2.8,0   c-0.8,0.8-0.8,2,0,2.8L9.2,12l-3.6,3.6c-0.8,0.8-0.8,2,0,2.8C6,18.8,6.5,19,7,19s1-0.2,1.4-0.6l3.6-3.6l3.6,3.6   C16,18.8,16.5,19,17,19s1-0.2,1.4-0.6c0.8-0.8,0.8-2,0-2.8L14.8,12z" fill="currentColor"/>
											</g>
										</svg>
									</button>
								</div>
							</td>
						</tr>
					</table>
					<table class="table__reverse" id="create-directory" style="display: none;">
						<tr>
							<td>
								<input id="new-directory-name" placeholder="directory_name" type="text" name="directory"  class="file-browser__create-directory" />
							</td>
							<td width="60px"></td>
							<td width="160px"></td>
							<td width="68px">
								<div class="table__buttons">
									<button class="action-button" id="save-directory">
										<svg viewBox="0 0 24 24" >
											<g id="icons">
												<path d="M10,18c-0.5,0-1-0.2-1.4-0.6l-4-4c-0.8-0.8-0.8-2,0-2.8c0.8-0.8,2.1-0.8,2.8,0l2.6,2.6l6.6-6.6   c0.8-0.8,2-0.8,2.8,0c0.8,0.8,0.8,2,0,2.8l-8,8C11,17.8,10.5,18,10,18z" fill="currentColor"/>
											</g>
										</svg>
									</button>
									<button class="action-button" id="cancel-directory">
										<svg viewBox="0 0 24 24">
											<g id="icons">
												<path d="M14.8,12l3.6-3.6c0.8-0.8,0.8-2,0-2.8c-0.8-0.8-2-0.8-2.8,0L12,9.2L8.4,5.6c-0.8-0.8-2-0.8-2.8,0   c-0.8,0.8-0.8,2,0,2.8L9.2,12l-3.6,3.6c-0.8,0.8-0.8,2,0,2.8C6,18.8,6.5,19,7,19s1-0.2,1.4-0.6l3.6-3.6l3.6,3.6   C16,18.8,16.5,19,17,19s1-0.2,1.4-0.6c0.8-0.8,0.8-2,0-2.8L14.8,12z" fill="currentColor"/>
											</g>
										</svg>
									</button>
								</div>
							</td>
						</tr>
					</table>

					<table id="file-browser">
						<tbody></tbody>
					</table>
				</div>
			</div>

			<div class="file-editor" id="file-editor">
				<div class="file-editor__controls">
					<div class="file-editor__controls__address" id="edit-address"></div>
					<button id="save-edit-button">Save</button>
					<button id="cancel-edit-button">Cancel</button>
				</div>
				<div class="editor" id="codemirror"></div>
			</div>
		{% endif %}
	</div>

	<script src="{{ url_for('static', filename='scripts/spaces.js') + '?v=' + version }}"></script>

	{% if spaces %}
		<script src="{{ url_for('static', filename='scripts/spaces_browser.js') + '?v=' + version }}"></script>
		<script src="{{ url_for('static', filename='scripts/editor.bundle.js') + '?v=' + version }}"></script>
		<script src="{{ url_for('static', filename='scripts/editor.js') + '?v=' + version }}"></script>
	{% endif %}

	<!--
		Here is what we need to implement:

		Download space as zip
		Create file in space
		Upload zip to space and unpack
	-->
{% endblock %}
