<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <%- include('elements/imports', { title: 'ZE.WTF - Home', theme, user }); %>
    </head>
    <body class="bg-medium">

        <%- include('elements/nav', { path: 'home' }) %>

        <div class="container flex-grow">
            <div class="d-flex h-100 justify-content-center pt-3 pb-3">
                <div class="card align-self-center bg-light" style="width: 28rem;">
                    <div class="card-body">
                        <p class="card-text text-center text-dark">Enter your long url to shorten it!</p>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control text-dark border-light bg-light" placeholder="Link goes here">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control text-dark border-light bg-light" placeholder="Custom ID (optional)">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Lets go</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <%- include('elements/footer', { theme }) %>

    </body>
</html>