<% if (title != null) { %>
    <title><%= title %></title>
<% }; %>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
<link rel="stylesheet" href="/resources/css/bootstrap.min.css" />
<script src="/resources/js/jquery-3.5.1.min.js"></script>
<script src="/resources/js/popper.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/resources/css/style.css" />
<link href="/resources/img/logo-transparent.png" rel="icon" sizes="16x16" type="image/png" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Ze.wtf - URL shortening done right." />
<meta property="og:description" content="Shorten your URL's here! We have a variety of tools and options and are constantly coming out with new features." />
<meta property="og:url" content="https://ze.wtf/" />
<meta name="theme-color" content="#3577e0" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="/resources/css/vanillatoasts.css" />
<script src="/resources/js/vanillatoasts.js"></script>
<%- include(`../themes/${theme}`, {}) %>