<div class="header">
	<div class="container">
		<ul class="nav">
			<li class="item-left">
				<a href="{{ url_for('home.index') }}">Home</a>
			</li>
			{% if username %}
				<li>
					<a href="{{ url_for('dash.handle_dash') }}">Dash</a>
				</li>
				<li>
					<a href="{{ url_for('logout.handle_logout') }}">Logout</a>
				</li>
			{% else %}
				<li>
					<a href="{{ url_for('auth.handle_auth') }}">Login</a>
				</li>
			{% endif %}
		</ul>
	</div>
</div>
{% if username and active_page == "home" %}
	<div class="header header-secondary">
		<div class="container">
			<ul class="nav">
				<li>
					<a href="{{ url_for('home.links') }}">Links</a>
				</li>
				<li>
					<a href="{{ url_for('home.images') }}">Images</a>
				</li>
			</ul>
		</div>
	</div>
{% endif %}
{% if username and active_page == "dash" %}
	<div class="header header-secondary">
		<div class="container">
			<ul class="nav">
				<li>
					<a href="{{ url_for('dash.dash_links') }}">Links</a>
				</li>
				<li>
					<a href="{{ url_for('dash.dash_images') }}">Images</a>
				</li>
				<li>
					<a href="{{ url_for('dash.dash_invites') }}">Invites</a>
				</li>
			</ul>
		</div>
	</div>
{% endif %}