.changelog {
	&__inner {
		padding: 20px 0;
	}

	&__earlier {
		padding: 10px 0;

		h2 {
			margin: 0;
		}
	}

	&__back {
		margin-bottom: 10px;

		a {
			text-decoration: none;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		justify-content: space-between;

		h1 {
			margin: 0;
		}

		a {
			margin-right: auto;
		}
	}

	&__meta {
		display: inline-flex;

		span {
			display: inline-block;
			background: #29292E;
	 		padding: 4px 8px;
	 		margin-left: 5px;
		}
	}

	&__link {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&__post {
		margin-bottom: 10px;
	}

	&__entry {
		margin-bottom: 5px;
		display: flex;
		justify-content: space-between;

		span {
			margin-right: 5px;
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}