.table-wrapper,
.links {
	width: 100%;
	overflow: auto;

	&__not-found {
		text-align: center;
	}

	&__table {
		width: 100%;
		border: 1px solid #111113;
  		border-collapse: collapse;

		tr {
			&:nth-child(even) {
				td {
					background: #29292e;
				}
			}
		}

		th, td {
			border: 1px solid #111113;
			padding: 8px 12px;
		}

		th {
			background: #111113;
		}

		td {
		}
	}
}

.invites-header {
	p {
		display: inline-block;
		margin: 0 0 14px;
	}

	.create-invite {
		float: right;
		display: inline-block;

		button {
			border: none;
			background: transparent;
			font-size: 14px;
			color: #cfd3cf;
			display: inline-block;
			text-underline-offset: 2px;
			padding: 0;
			transform: translateY(-1px);
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.action-button,
.delete-item {
	cursor: pointer;
	background: transparent;
	border: 0px;
	color: inherit;
	height: 22px;
	width: 22px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: background 0.2s ease-in;

	&:hover {
		background: #414149;
	}

	svg {
		width: 16px;
		height: 16px;
	}
}

.notifications {
	.notif {
		margin-bottom: 10px;
		width: 100%;
		border: 1px solid #111113;
		padding: 8px 12px;
		background: #29292e;
	}
}

.file-browser {
	width: 100%;

	&__controls {
		background: #111113;
		border: 1px solid #111113;
		border-bottom: 0px;

		button {
			background: #111113;
			padding: 8px 12px;
			transition: background 0.2s ease-in;
			cursor: pointer;
			color: #cfd3cf;
			font-size: 14px;
			border: 0px;

			&:hover {
				background: lighten(#111113, 20%);
			}
		}
	}

	&__files {
		overflow: auto;
		border: 1px solid #111113;

		table {
			width: 100%;
	  		border-collapse: collapse;

			tr {
				&:nth-child(even) {
					td {
						background: #29292e;
					}
				}
			}

			th, td {
				padding: 8px 12px;
			}

			th {
				background: #111113;
			}

			td {
			}
		}
	}

	&__directory {
		font-weight: bold;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&__create-directory {
		height: 22px;
		width: 100%;
		display: inline-flex;
		align-items: center;
		background: transparent;
		border: 0px;
		color: #cfd3cf;
		outline: none;
	}

	&__upload-file {
		display: none;

		&__label {
			cursor: pointer;
			display: block;
		}
	}
}

.table {
	&__buttons {
		display: flex;
		justify-content: flex-end;
	}

	&__reverse {
		tr {
			&:nth-child(odd) {
				td {
					background: transparent;
				}
			}

			&:nth-child(odd) {
				td {
					background: #29292e;
				}
			}
		}
	}
}

.create-space {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.create-table {
	width: 100%;
	border: 1px solid #111113;
	border-collapse: collapse;

	tr {
		&:nth-child(even) {
			td {
				background: #29292e;
			}
		}
	}

	th, td {
		padding: 8px 12px;
	}

	th {
		background: #111113;
	}

	td {
		background: #29292e;
		height: 40px;
	}
}